<div class="form-group text-center">
    @if (!string.IsNullOrEmpty(ImgUrl))
    {
        <div class="text-center">
            <img src="@ImgUrl" width="200" alt="Uploaded Image" class="img-fluid" />
        </div>
    }
</div>
<div class="form-group">
    <input type="file" @ref="_input" @onchange="HandleSelected" accept=".jpg, .jpeg, .png" class="form-control" />
</div>