<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__cart">
        <div class="offcanvas__cart__links" style="cursor: pointer">
            <a class="search-switch"><img src="client/img/icon/search.png" alt=""></a>
        </div>
        <div class="offcanvas__cart__item">
            <a href="#"><img src="client/img/icon/cart.png" alt=""></a>
        </div>
    </div>
    <div class="offcanvas__logo">
        <a href=""><img src="client/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__option">
        <ul>
            <li>
                Tài Khoản <span class="arrow_carrot-down"></span>
                <ul>
                    <AuthorizeView>
                        <Authorized>
                            <li>
                                Hello, @context.User.Identity!.Name!
                            </li>
                            <li>
                                <a href="logout">Đăng Xuất</a>
                            </li>
                            <li>
                                <a href="userinfo">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a href="orderhistory">Đơn hàng</a>
                            </li>
                            <li>
                                <a href="admin">Admin</a>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <a href="login">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="register">Đăng kí</a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__top__inner">
                        <div class="header__top__left">
                            <ul>
                                <li>
                                    Tài Khoản <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <AuthorizeView>
                                            <Authorized>
                                                <li>
                                                    Hello, @context.User.Identity!.Name! 
                                                </li>
                                                <li>
                                                    <a href="logout">Đăng Xuất</a>
                                                </li>
                                                <li>
                                                    <a href="userinfo">Thông tin cá nhân</a>
                                                </li>
                                                <li>
                                                    <a href="orderhistory">Đơn hàng</a>
                                                </li>
                                                <li>
                                                    <a href="admin">Admin</a>
                                                </li>
                                            </Authorized>
                                            <NotAuthorized>
                                                <li>
                                                    <a href="login">Đăng nhập</a>
                                                </li>
                                                <li>
                                                    <a href="register">Đăng kí</a>
                                                </li>
                                            </NotAuthorized>
                                        </AuthorizeView>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header__logo">
                            <a href=""><img src="client/img/logo.png" alt=""></a>
                        </div>
                        <div class="header__top__right">
                            <div class="header__top__right__links">
                                <a class="search-switch" style="cursor: pointer"><img src="client/img/icon/search.png" alt=""></a>
                            </div>
                            <div class="header__top__right__cart">
                                <a href="cart"><img src="client/img/icon/cart.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="">Trang Chủ</a></li>
                        <li><a href="shop">Sản Phẩm</a></li>
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->
