@page "/userroles"
@using FastFoodWeb_Client.Components.Layout
@layout AdminLayout


@using Data.Models.UserRolesModels
@using FastFoodWeb_Client.HttpRepositories.Interfaces
@inject IHttpUserRoleService UserRoleService

<div class="col-md-12">
    <div class="card card-statistics">
        <div class="card-header">
            <div class="card-heading">
                <h4 class="card-title mb-3">Role User</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID Role</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (userRoles != null && userRoles.Any())
                        {
                            @foreach (var role in userRoles)
                            {
                                <tr>
                                    <th scope="row">@role.RoleId</th>
                                    <td>@role.UserName</td>
                                    <td>@role.RoleName</td>
                                    <td>
                                        <a href="edit-userrole/@role.UserId">
                                            <button type="button" class="btn btn-sm btn-warning">Edit</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No data available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<UserRoleForView> userRoles;

    protected override async Task OnInitializedAsync()
    {
        userRoles = await UserRoleService.GetAllUserRolesAsync();
    }
}
