@page "/"
@using FastFoodWeb_Client.HttpRepositories.Interfaces
@using Data.Models.ProductModels
@using Data.Models.CategoryModels
@inject IHttpCategoryService CategoryService
@inject IHttpProductService ProductService

<PageTitle>Index</PageTitle>


<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="client/img/hero/hero-1.jpg">
        </div>
        <div class="hero__item set-bg" data-setbg="client/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2>Khuyến Mãi Mỗi Tuần</h2>
                            <a href="#" class="primary-btn">Đặt món ngay!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->

<section class="product spad">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="text-uppercase mt-5">Sản phẩm mới nhất</h2>
        </div>
        <div class="row">
            @if (Products == null)
            {
                <div class="col-12">
                    <p>Đang tải sản phẩm...</p>
                </div>
            }
            else if (Products.Any())
            {
                @foreach (var product in Products)
                {

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href="detailproduct/@product.Id">
                                    <img src="@product.Image" />
                                </a>

                                <div class="product__label">
                                    <span>@product.CategoryName</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="detailproduct/@product.Id">@product.ProductName</a></h6>
                                <div class="product__item__price">@product.Price.ToString("C")</div>
                                <div class="cart_add">
                                    <a href="cart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p>Không có sản phẩm nào.</p>
                </div>
            }
        </div>
    </div>
</section>


<!-- Product Section End -->


<!-- Testimonial Section Begin -->
<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Đánh giá của khách hàng</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Ophelia Nunez</h5>
                                <span>London</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Ophelia Nunez</h5>
                                <span>London</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    private IEnumerable<ProductForView>? Products;

    protected override async Task OnInitializedAsync()
    {

        Products = await ProductService.GetAllProductsAsync();
        foreach (var product in Products)
        {
            product.CategoryName = (await CategoryService.GetCategory(product.Category_Id ?? Guid.Empty))?.Name;
        }
    }
}