@page "/roles"
@using FastFoodWeb_Client.Components.Layout
@layout AdminLayout


@using Data.Models.RoleModels
@using FastFoodWeb_Client.HttpRepositories.Interfaces
@inject IHttpRoleService RoleService

<div class="col-md-12">
    <div class="card card-statistics">
        <div class="card-header">
            <div class="card-heading">
                <h4 class="card-title mb-3">Role</h4>
                <a href="addrole">
                    <button type="button" class="btn btn-primary">Add</button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID Role</th>
                            <th scope="col">Tên vai trò</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (roles == null)
                        {
                            <tr><td colspan="4">Loading...</td></tr>
                        }
                        else if (roles.Any())
                        {
                            @foreach (var role in roles)
                            {
                                <tr>
                                    <th scope="row">@role.Id</th>
                                    <td>@role.Name</td>
                                    <td>
                                        <a href="EditRole/@role.Id">
                                            <button type="button" class="btn btn-sm btn-warning">Edit</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="4">No roles available.</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<RoleForView> roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await RoleService.GetAllRolesAsync();
    }
}
